<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>记账本</title>
    <style>
        * {
            margin: 0 auto;
            padding: 0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .contrainer {
            width: 960px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header a {
            margin: 0;
            /* line-height: 2.5em; */
            padding: 1rem;
            border: 1px solid white;
            border-radius: 5%;
            color: white;
            background-color: rgba(13, 13, 223, 0.732);
        }
        h1 {
            margin: 1rem 0;
        }

        section {
            margin: 15px 0;
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 2px;
        }

        header {
            padding-left: 1em;
            line-height: 2em;
        }
        header.zhichu{
            background-color: pink;
        }
        header.shouru{
            background-color: lightgreen;
        }
        .content {
            display: flex;
            align-items: center;
            height: 2.5em;
        }

        .content>* {
            flex: 1;
        }

        .name {
            flex: 3;
            padding-left: 2em;
        }

        .delete {
            text-align: center;
            position: relative;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            text-decoration: none;
            color: inherit;
        }
        section:hover .content .delete{
            opacity: 1;
        }
        .delete:hover {
            cursor: pointer;
            text-shadow: 1px 1px 2px #000;
        }

        .delete::after {
            content: "删除";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-100%);
            padding: 8px;
            background-color: lightgoldenrodyellow;
            color: red;
            border-radius: 4px;
            font-size: 14px;
            line-height: 1.5;
            white-space: nowrap;
            z-index: 999;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            text-shadow:none
        }
        .delete:hover::after {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="contrainer">
        <div class="header">
            <h1>记账本</h1>
            <a href="/account">添加账单</a>
        </div>
        <hr>
        <% if (bills.length > 0) { %>
            <% bills.forEach(function(bill) { %>
            <section>
                <header class="<%= bill.type == '支出' ? 'zhichu' : 'shouru'%>"><%= bill.date.toISOString().substring(0, 10) %></header>
                <div class="content">
                    <div class="name"><%= bill.name %></div>
                    <span class="type"><%= bill.type %></span>
                    <p><%= bill.money %>元</p>
                    <a class="delete" href="/list/<%= bill.id %>">&times;</a>
                </div>
            </section>
            <% }) %>
    <% } else { %>
    <p>暂无账单记录</p>
    <% } %>
    </div>

    <script>
        let deleteBtns = document.querySelectorAll('.delete')
        deleteBtns.forEach(deleteBtn =>{
            deleteBtn.addEventListener('click',function(e) {
            if (confirm('是否删除')) {
                return true
            }else {
                e.preventDefault()
            }
        })
        })

    </script>
</body>

</html>